/config.json
/EasyNegativeV2.safetensors
/generations
/inpaintingBefore.png
/loras
/main copy 2.py
/models
venv/
/toupscale
/upscaled
/prompt-mimi.txt
/stable_fast-1.0.0+torch211cu118-cp39-cp39-win_amd64.whl
/stable_fast-1.0.0+torch211cu121-cp310-cp310-win_amd64.whl
/stable_fast.whl
og_image copy.png
og_image.png
processed_slice0-0 copy.png
processed_slice0-0.png
processed_slice0-1 copy.png
processed_slice0-1.png
processed_slice0-2.png
processed_slice0-3.png
processed_slice1-0.png
processed_slice1-1.png
processed_slice2-0.png
processed_slice2-1.png
processed_slice3-0.png
processed_slice3-1.png
slice0 copy.png
slice0.png
slice1.png
slice2.png
slice3.png
txt2img.png
upscaled_image copy.png
upscaled_image.png
vaes/kl-f8-anime.ckpt
vaes/klF8Anime2.safetensors
vaes/vae-ft-mse-840000-ema-pruned_fp16.safetensors
main.py
__pycache__/lpw_pipeline.cpython-312.pyc
lbp.txt
fast_passes.yaml
blockedwords.yaml
base3.png
base2.png
base1.png
base0.png
base0 copy.png
animation.mp4
animation.gif
animation copy.gif
animation copy 4.gif
animation copy 3.gif
animation copy 2.gif
venv/Lib/site-packages/pip/_internal/__pycache__/self_outdated_check.cpython-311.pyc
venv/Lib/site-packages/pip/_internal/__pycache__/wheel_builder.cpython-311.pyc
venv/Lib/site-packages/pip/_internal/cli/__init__.py
venv/Lib/site-packages/pip/_internal/cli/autocompletion.py
venv/Lib/site-packages/pip/_internal/cli/base_command.py
venv/Lib/site-packages/pip/_internal/cli/cmdoptions.py
venv/Lib/site-packages/pip/_internal/cli/command_context.py
venv/Lib/site-packages/pip/_internal/cli/main_parser.py
venv/Lib/site-packages/pip/_internal/cli/parser.py
venv/Lib/site-packages/pip/_internal/cli/progress_bars.py
venv/Lib/site-packages/pip/_internal/cli/req_command.py
venv/Lib/site-packages/pip/_internal/cli/spinners.py
venv/Lib/site-packages/pip/_internal/cli/status_codes.py
venv/Lib/site-packages/pip/_internal/cli/__pycache__/__init__.cpython-311.pyc
venv/Lib/site-packages/pip/_internal/cli/__pycache__/autocompletion.cpython-311.pyc
venv/Lib/site-packages/pip/_internal/cli/__pycache__/base_command.cpython-311.pyc
venv/Lib/site-packages/pip/_internal/cli/__pycache__/cmdoptions.cpython-311.pyc
og_image copy 2.png
upscaled_image copy 2.png
esrganvulkan/input.jpg
esrganvulkan/input2.jpg
esrganvulkan/README_windows.md
esrganvulkan/onepiece_demo.mp4
esrganvulkan/realesrgan-ncnn-vulkan.exe
esrganvulkan/vcomp140.dll
esrganvulkan/vcomp140d.dll
esrganvulkan/models/realesr-animevideov3-x2.bin
esrganvulkan/models/realesr-animevideov3-x2.param
esrganvulkan/models/realesr-animevideov3-x3.bin
esrganvulkan/models/realesr-animevideov3-x3.param
esrganvulkan/models/realesr-animevideov3-x4.bin
esrganvulkan/models/realesr-animevideov3-x4.param
esrganvulkan/models/realesrgan-x4plus-anime.bin
esrganvulkan/models/realesrgan-x4plus-anime.param
esrganvulkan/models/realesrgan-x4plus.bin
esrganvulkan/models/realesrgan-x4plus.param
